<nav class="border-b border-light-grey border-opacity-20 ">
  <div class="max-w-screen-3xl flex flex-wrap items-center justify-between md:justify-center lg:justify-between mx-auto p-4">
    <p class="text-lg text-white tracking-tight font-medium ">{{'The planets' | uppercase}}</p>
    <button data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden hover:bg-gray-100 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700 "
            aria-controls="navbar-default"
            aria-expanded="false"
            (click)="openMenu()">
        <svg class="w-5 h-5 text-light-grey" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 md:p-0 mt-4  md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0">
        @for (planet of planets(); track $index) {
          <li>
            <a
              [routerLink]="['planet', planet.name]"
              routerLinkActive="border-t"
              class="block py-2 px-3 h4"
              aria-current="page">
              {{planet.name| uppercase}}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

@if (isOpenMenu) {
  <app-menu [planets] = "planets()"/>
}

