/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.h1{
  @apply text-4xl lg:text-8xl font-antonio font-medium text-white;
}

.h2{
  @apply text-lg md:text-xl lg:text-4xl font-antonio font-medium tracking-tighter text-white;
}

.h3{
  @apply text-sm font-spartan font-bold tracking-wider leading-6 text-white;
}

.h4{
  @apply text-xs font-spartan font-bold tracking-wide  leading-6 text-white;
}

.body{
  @apply text-sm font-spartan font-normal leading-6 text-white;
}

.btn{
  @apply border border-white border-opacity-25 py-2 h3 hover:bg-dark-grey h3;
}
